/*  Layout Styles -----------------------------------------*/

#layout{
	overflow: hidden;
	position: relative;
	background: transparent;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.layout-semiboxed footer .container,
.layout-semiboxed .menu-header-2 .container,
.layout-semiboxed .header-2 .container,
.layout-semiboxed .fond-header-02 .container,
.layout-semiboxed .menu-large .container,
.layout-semiboxed .menu-large .yamm .dropdown.yamm-fw .dropdown-menu{
	width: 1230px !important;
	max-width: 1230px !important;
	padding: 0 !important;
}
.layout-wide .content-central{	
	max-width: 100%;	
}
.layout-wide .semiboxshadow{
	display: none;
}
.layout-wide .tab-content{
	margin-left: 0;
}
.layout-wide .section-title{
	/*height: 250px;*/
}
.layout-wide .crumbs:before{
    left: 23%;
}
.layout-boxed{
	max-width: 1230px;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.layout-boxed-margin{
	max-width: 1230px;
	margin: 50px auto;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}


/* COLOR SKINS -------------------------------*/
.colorbox { width:100%; height:100%; cursor:pointer; display:block; }
.blue { background-color:#0088cc; }
.red { background-color:#E1483F; }
.yellow { background-color:#fff000; }
.green { background-color:#88C425; }
.orange { background-color:#FFB43F; }
.purple { background-color:#894997; }
.pink { background-color:#FF3D7F; }
.cocoa { background-color:#755C3B; }

/* Header bg Skins -------------------------------*/
.fond-header.color-header-1,
.color-header-1{
	background-color: #26271A;
}
.fond-header.color-header-2,
.color-header-2{
	background-color: #01B169;
}
.fond-header.color-header-3,
.color-header-3{
	background-color: #685bc7;
}
.fond-header.color-header-4,
.color-header-4{
	background-color: #db4437;
}
.fond-header.color-header-5,
.color-header-5{
	background-color: #f4b400;
}
.fond-header.color-header-6,
.color-header-6{
	background-color: #A1E3D8;
}
.fond-header.color-header-7,
.color-header-7{
	background-color: #FF5335;
}
.fond-header.color-header-8,
.color-header-8{
	background-color: #202020;
}

/* BACKGROUNDS PATTERS -------------------------------*/
.bgnone { background-image: url("../../img/bg-theme/none.jpg"); }
.bg1 { background-image: url("../../img/bg-theme/1.png"); }
.bg2 { background-image: url("../../img/bg-theme/2.png"); }
.bg3 { background-image: url("../../img/bg-theme/3.png"); }
.bg4 { background-image: url("../../img/bg-theme/4.png"); }
.bg5 { background-image: url("../../img/bg-theme/5.png"); }
.bg6 { background-image: url("../../img/bg-theme/6.png"); }
.bg7 { background-image: url("../../img/bg-theme/7.png"); }
.bg8 { background-image: url("../../img/bg-theme/8.png"); }
.bg9 { background-image: url("../../img/bg-theme/9.png"); }
.bg10 { background-image: url("../../img/bg-theme/10.png"); }
.bg11 { background-image: url("../../img/bg-theme/11.png"); }
.bg12 { background-image: url("../../img/bg-theme/12.png"); }
.bg13 { background-image: url("../../img/bg-theme/13.png"); }
.bg14 { background-image: url("../../img/bg-theme/14.png"); }
.bg15 { background-image: url("../../img/bg-theme/15.png"); }
.bg16 { background-image: url("../../img/bg-theme/16.png"); }
.bg17 { background-image: url("../../img/bg-theme/17.png"); }
.bg18 { background-image: url("../../img/bg-theme/18.png"); }
.bg19 { background-image: url("../../img/bg-theme/19.png"); }
.bg20 { background-image: url("../../img/bg-theme/20.png"); }
.bg21 { background-image: url("../../img/bg-theme/21.png"); }
.bg22 { background-image: url("../../img/bg-theme/22.png"); }
.bg23 { background-image: url("../../img/bg-theme/23.png"); }
.bg24 { background-image: url("../../img/bg-theme/24.png"); }
.bg25 { background-image: url("../../img/bg-theme/25.png"); }
.bg26 { background-image: url("../../img/bg-theme/26.png"); }

/* BACKGROUNDS PATTERS -------------------------------*/

#theme-options ul.backgrounds li.bgnone { background-image: url("../../img/bg-theme/none.jpg"); }
#theme-options ul.backgrounds li.bg1 { background-image: url("../../img/bg-theme/1.png"); }
#theme-options ul.backgrounds li.bg2 { background-image: url("../../img/bg-theme/2.png"); }
#theme-options ul.backgrounds li.bg3 { background-image: url("../../img/bg-theme/3.png"); }
#theme-options ul.backgrounds li.bg4 { background-image: url("../../img/bg-theme/4.png"); }
#theme-options ul.backgrounds li.bg5 { background-image: url("../../img/bg-theme/5.png"); }
#theme-options ul.backgrounds li.bg6 { background-image: url("../../img/bg-theme/6.png"); }
#theme-options ul.backgrounds li.bg7 { background-image: url("../../img/bg-theme/7.png"); }
#theme-options ul.backgrounds li.bg8 { background-image: url("../../img/bg-theme/8.png"); }
#theme-options ul.backgrounds li.bg9 { background-image: url("../../img/bg-theme/9.png"); }
#theme-options ul.backgrounds li.bg10 { background-image: url("../../img/bg-theme/10.png"); }
#theme-options ul.backgrounds li.bg11 { background-image: url("../../img/bg-theme/11.png"); }
#theme-options ul.backgrounds li.bg12 { background-image: url("../../img/bg-theme/12.png"); }
#theme-options ul.backgrounds li.bg13 { background-image: url("../../img/bg-theme/13.png"); }
#theme-options ul.backgrounds li.bg14 { background-image: url("../../img/bg-theme/14.png"); }
#theme-options ul.backgrounds li.bg15 { background-image: url("../../img/bg-theme/15.png"); }
#theme-options ul.backgrounds li.bg16 { background-image: url("../../img/bg-theme/16.png"); }
#theme-options ul.backgrounds li.bg17 { background-image: url("../../img/bg-theme/17.png"); }
#theme-options ul.backgrounds li.bg18 { background-image: url("../../img/bg-theme/18.png"); }
#theme-options ul.backgrounds li.bg19 { background-image: url("../../img/bg-theme/19.png"); }
#theme-options ul.backgrounds li.bg20 { background-image: url("../../img/bg-theme/20.png"); }
#theme-options ul.backgrounds li.bg21 { background-image: url("../../img/bg-theme/21.png"); }
#theme-options ul.backgrounds li.bg22 { background-image: url("../../img/bg-theme/22.png"); }
#theme-options ul.backgrounds li.bg23 { background-image: url("../../img/bg-theme/23.png"); }
#theme-options ul.backgrounds li.bg24 { background-image: url("../../img/bg-theme/24.png"); }
#theme-options ul.backgrounds li.bg25 { background-image: url("../../img/bg-theme/25.png"); }
#theme-options ul.backgrounds li.bg26 { background-image: url("../../img/bg-theme/26.png"); }


/* Theme Options ----------------------------------------------*/
#theme-options {	
	position:fixed;	
	z-index: 9999;	
	width: auto;	
	left:-220px;
	width: 220px;
	top: 100px;
	border: 1px solid #dbdbdb;
	border-left: 0;
	border-radius: 0 8px 8px 0;
	background: #fff;
	z-index: 999999;	
	padding-bottom: 10px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
#theme-options .title {
	padding: 10px 5px 0 12px;	
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	position: relative;
}
#theme-options .title p{
	margin: 10px 0;
	font-size: 0.7rem;
	font-weight: lighter;
}
#theme-options .title span{
	margin-left: -12px;
}
#theme-options .openclose {
	cursor: pointer;
	display: block;
	height: 301px;
	position: absolute;
	top: 20px;
	right: -39px;
	width: 40px;
	background: transparent url("../../img/img-theme/theme-options.png") no-repeat top left;
}
#theme-options span {
	display: block;
	width: 100%;
	padding: 0 12px 0 12px;
	font-size: 14px;
}
#theme-options ul { 
	padding: 6px 12px; 
	margin: 0;
}
#theme-options ul li {
	display: inline-block;
	margin: 0;
	border: 1px solid #dbdbdb;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background-repeat: repeat;
	cursor: pointer;
}
#theme-options ul.backgrounds li:hover { 
	border-color: #ccc; 
}
#theme-options ul.backgrounds li.active,#theme-options ul.backgrounds li.active:hover { 
	border-color: #ff9600; 
}
#theme-options .layout-style li{
	width: 48%;
	padding:5px 3px;	
	display: inline-block;
	height: auto;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
}
#theme-options .layout-style li.active,
#theme-options .layout-style li.active a{
	color: #fff;
}
#theme-options .layout-style li  a:hover{
	text-decoration: none;
}
#theme-options .layout-style li a{
	font-size: 11px;
	color: #424242;
}

#theme-options .header-pattern{
	padding: 6px 12px 10px 12px;
}
#theme-options .header-pattern li{
	list-style: none;
	display: inline-block;
	font-size: 12px;
	padding: 0 10px;
	height: auto;
	width: auto;
	margin-right: 5px;
}
#theme-options .header-pattern li:hover{
	cursor: pointer;
	background-image: none !important; 
}